name: Deploy to Github Pages

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            pages: write
            id-token: write

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Cache Hugo resources
              uses: actions/cache@v4
              env:
                  cache-name: cache-hugo-resources
              with:
                  path: resources
                  key: ${{ env.cache-name }}

            - uses: actions/setup-go@v5
              with:
                  go-version: "^1.17.0"
            - run: go version

            - name: Setup Hugo
              uses: peaceiris/actions-hugo@v2
              with:
                  hugo-version: "latest"
                  extended: true

            - name: Generate category pages
              run: go run scripts/generate-categories.go

            - name: Build
              run: hugo --minify --gc

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: ./public

            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
